.row-fluid
  .span12.well
    %h4 Help
    %ul
      %li= link_to 'Helpdesk', '#'
      %li= link_to 'Documentation', '#'
      %li= link_to 'FAQ', '#'

.row-fluid
  .span12.well
    %h4 Other Links
    %ul
      %li= link_to 'ANU', '#'
      %li= link_to 'Astronomy Australia Ltd.', '#'
      %li= link_to 'NeCTAR', '#'
