-#.row-fluid
-#  .span12.well
-#    %h4 Help
-#    %ul
-#      %li= link_to 'Helpdesk', '#'
-#      %li= link_to 'Documentation', '#'
-#      %li= link_to 'FAQ', '#'

.row-fluid
  .span12.well
    %h4 Useful Links
    %ul
      %li= link_to 'ANU', 'http://www.anu.edu.au/'
      %li= link_to 'MSO', 'http://www.mso.anu.edu.au/'
      %li= link_to 'NCI', 'http://nci.org.au/'
      %li= link_to 'NeCTAR', 'http://www.nectar.org.au/'
      %li= link_to 'Astronomy Australia Ltd.', 'http://www.astronomyaustralia.org.au/'