.row-fluid
  .span12.panel
    %h5 Help
    %ul
      %li= link_to 'Helpdesk', '#'
      %li= link_to 'Documentation', '#'
      %li= link_to 'FAQ', '#'

    %h5 Other Links
    %ul
      %li= link_to 'ANU', '#'
      %li= link_to 'Astronomy Australia Ltd.', '#'
      %li= link_to 'NeCTAR', '#'
