#search-results.row-fluid

  .span12.center

    %a.btn.pull-left{ href: '/search' }
      Back

    - if @fields
      %pagination{ 'max-page-links' => '10', 'items-per-page' => '50', items: 'objects', 'ng-hide' => 'objects == undefined || objects.length == 0' }
        = render 'pagination'

        %table.table.table-striped.table-bordered.table-fluid
          %thead
            %tr
              - @fields.each do |field|
                - next unless field[:options] and field[:options].include?('show-in-list')
                %th
                  = field[:name]
                  %span.hide
                    = field[:field]
          %tbody
            - filters = @filters ? @filters.map { |filter| "| #{filter} " }.join : nil
            %tr{ 'ng-repeat' => "obj in objects #{filters} | page:pagination.range()" }
              - @fields.each do |field|
                - next unless field[:options] and field[:options].include?('show-in-list')
                - if field[:options].include?('click-for-detail')
                  %td
                    %a.detail-link{ 'ng-click' => "selectObject(obj)" }
                      = "{{obj['#{field[:field]}']}}"
                - elsif field[:options].include?('image-link')
                  %td
                    %a.image-link{ 'ng-click' => "warnImage(obj['#{field[:field]}'])", 'data-href' => "{{obj['#{field[:field]}']}}" } download image
                - else
                  - if field[:options].include?('6dp')
                    %td
                      = "{{obj['#{field[:field]}'] | number:6 }}"
                  - elsif field[:options].include?('3dp')
                    %td
                      = "{{obj['#{field[:field]}'] | number:3 }}"
                  - else
                    %td
                      = "{{obj['#{field[:field]}']}}"






