#search-results.row-fluid{ 'ng-hide' => 'objects == undefined || objects.length == 0' }
  .span12
    - if @fields
      %pagination{ 'max-page-links' => '10', 'items-per-page' => '50', items: 'objects' }

        = render 'pagination'

        %table.table.table-striped.table-bordered.table-fluid
          %thead
            %tr
              - @fields.each do |field|
                %th
                  = field[:name]
                  %span.hide
                    = field[:field]
          %tbody
            - filters = @filters ? @filters.map { |filter| "| #{filter} " }.join : nil
            %tr{ 'ng-repeat' => "obj in objects #{filters} | page:pagination.range()" }
              - @fields.each do |field|
                %td
                  - if field[:type] == :link
                    %a{ class: field[:class], 'ng-click' => "downloadImage(obj['#{field[:field]}'])", 'data-href' => "{{obj['#{field[:field]}']}}" }
                      download image
                  - else
                    = "{{obj['#{field[:field]}']}}"