.row-fluid
  .span12.well
    - if @query_path
      %a.btn.btn-primary.btn-block.downloadresults{'data-toggle' => 'modal', href: "#downloadModal", role: "button" } Download Results
    %h4 Search Parameters
    - if @parameters
      %ul
        - @parameters.each do |param|
          %li.search-parameter
            %label= param[:name]
            - if param[:name].include? 'min' or param[:name].include? 'max'
              .search-value= "#{param[:value]}"
            - else
              .search-value= "#{param[:value]}°"

