%p
  The radial search will return all objects in the SkyMapper catalogue that fall within the search radius of the specified right ascension and declination. All values are in decimal degrees.
%p
  The system currently supports a maximum search radius of 10°.

.form-container{ 'ng-controller' => 'SearchController' }
  %form#radial_search_form.cancel{ name: 'radial_search_form', 'ng-submit' => "submit('radial_search_form', '#{radial_search_path}')", novalidate: '' }
    %fieldset
      .row-fluid
        .span6
          %label{ for: :catalogue }
            SkyMapper survey:
          %select#catalogue{ 'ng-model' => 'form.catalogue', name: 'catalogue', required: '' }
            %option{ value: :fs }
              Five-Second Survey
            %option{ value: :ms }
              Main Survey
          %ul.error{ 'ng-show' => '(submitted || radial_search_form.catalogue.$dirty) && radial_search_form.catalogue.$invalid' }
            %li.error{ 'ng-show' => 'radial_search_form.catalogue.$error.required' }
              This field is required.

      .row-fluid
        .span6
          %label{ for: :ra }
            Right ascension (deg):
          %input#ra{ type: 'text', name: 'ra', 'ng-model' => 'form.ra', required: '', range: '[0, 360)', decimal: 8 }
          %ul.error{ 'ng-show' => '(submitted || radial_search_form.ra.$dirty) && radial_search_form.ra.$invalid' }
            %li.error{ 'ng-show' => 'radial_search_form.ra.$error.required' }
              This field is required.
            %li.error{ 'ng-show' => 'radial_search_form.ra.$error.range' }
              This field should be a number greater than or equal to 0 and less than 360.
            %li.error{ 'ng-show' => 'radial_search_form.ra.$error.decimal' }
              This field should be a number with 8 decimal places.
        .span6
          %label{ for: :dec }
            Declination (deg):
          %input#dec{ type: 'text', name: 'dec', 'ng-model' => 'form.dec', required: '', range: '[-90, 90]', decimal: 8 }
          %ul.error{ 'ng-show' => '(submitted || radial_search_form.dec.$dirty) && radial_search_form.dec.$invalid' }
            %li.error{ 'ng-show' => 'radial_search_form.dec.$error.required' }
              This field is required.
            %li.error{ 'ng-show' => 'radial_search_form.dec.$error.range' }
              This field should be a number greater than or equal to -90 and less than or equal to 90.
            %li.error{ 'ng-show' => 'radial_search_form.dec.$error.decimal' }
              This field should be a number with 8 decimal places.

      .row-fluid
        .span6
          %label{ for: :sr }
            Search radius (deg):
          %input#sr{ type: 'text', name: 'sr', 'ng-model' => 'form.sr', required: '', range: '(0, 10]', decimal: 8, 'ng-init' => "form.sr='0.05'" }
          %ul.error{ 'ng-show' => '(submitted || radial_search_form.sr.$dirty) && radial_search_form.sr.$invalid' }
            %li.error{ 'ng-show' => 'radial_search_form.sr.$error.required' }
              This field is required.
            %li.error{ 'ng-show' => 'radial_search_form.sr.$error.range' }
              This field should be a number greater than 0 and less than or equal to 10.
            %li.error{ 'ng-show' => 'radial_search_form.sr.$error.decimal' }
              This field should be a number with 8 decimal places.

      = render partial: 'search_filter', locals: { form: 'radial_search_form', filter: 'u' }
      = render partial: 'search_filter', locals: { form: 'radial_search_form', filter: 'v' }
      = render partial: 'search_filter', locals: { form: 'radial_search_form', filter: 'g' }
      = render partial: 'search_filter', locals: { form: 'radial_search_form', filter: 'r' }
      = render partial: 'search_filter', locals: { form: 'radial_search_form', filter: 'i' }
      = render partial: 'search_filter', locals: { form: 'radial_search_form', filter: 'z' }

    .form-actions
      %input#submit.btn.btn-primary{ type: 'submit', value: 'Search SkyMapper', 'ng-disabled' => 'searching' }
