%section#search.row-fluid

  .span9
    %h3 Search

    %ul#search-tabs.nav.nav-tabs
      %span.hide
        = session[:search] ? session[:search][:type] : nil
      %li
        %a{ href: '#tab-radial', 'data-toggle' => 'tab'}
          Radial
      %li
        %a{ href: '#tab-rectangular', 'data-toggle' => 'tab'}
          Rectangular
      %li
        %a{ href: '#tab-raw-image', 'data-toggle' => 'tab'}
          Raw Image
      %li
        %a{ href: '#tab-bulk-catalogue', 'data-toggle' => 'tab'}
          Bulk Catalogue
      %li
        %a{ href: '#tab-bulk-image', 'data-toggle' => 'tab'}
          Bulk Image

    .tab-content
      #tab-radial.tab-pane
        = render partial: 'tab_radial'
      #tab-rectangular.tab-pane
        = render partial: 'tab_rectangular'
      #tab-raw-image.tab-pane
        = render partial: 'tab_raw_image'
      #tab-bulk-catalogue.tab-pane
        = render partial: 'tab_bulk_catalogue'
      #tab-bulk-image.tab-pane
        = render partial: 'tab_bulk_image'

  .aside.span3
    = render 'help'
