- title 'Search'
#search{ 'ng-controller' => 'SearchController' }
  #progress-bar{ 'ng-show' => 'searching' }
    .progress.progress-striped.active
      .bar{ style: 'width: 100%' }
        Searching...
  %ul#search-tabs.nav.nav-tabs
    %li
      %a{ href: '#tab-name', 'data-toggle' => 'tab'}
        Name
    %li
      %a{ href: '#tab-radial', 'data-toggle' => 'tab'}
        Radial
    %li
      %a{ href: '#tab-rectangular', 'data-toggle' => 'tab'}
        Rectangular
    %li
      %a{ href: '#tab-adql', 'data-toggle' => 'tab'}
        ADQL
    %li
      %a{ href: '#tab-raw', 'data-toggle' => 'tab'}
        Raw Image
  .tab-content
    #tab-name.tab-pane
      = render partial: 'tab_name'
    #tab-radial.tab-pane
      = render partial: 'tab_radial'
    #tab-rectangular.tab-pane
      = render partial: 'tab_rectangular'
    #tab-adql.tab-pane
      = render partial: 'tab_adql'
    #tab-raw.tab-pane
      = render partial: 'tab_raw'