.span9

  -if @job
    %table.table.table-condensed
      %thead
        %tr
          %th &nbsp;
          %th.value
      %tbody
        %tr
          %td Job start time
          %td.value=@job.start_time
        %tr
          %td Job finish time
          %td.value=@job.end_time
        %tr
          %td Job status
          %td.value=@job.status
        %tr
          %td Job ID
          %td.value=@job.job_id
        %tr
          %td Query type
          %td.value=@job.query_type
        %tr
          %td Parameters
          %td.value=@job.query_params
        %tr
          %td Action
          %td.value
            -if @job.can_be_canceled?
              = link_to "#{job_details_cancel_path}?id=#{@job.job_id}"  do
                %i.icon-ban-circle{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'Cancel operation'}
            -if @job.results_ready?
              -#= link_to "#{@job.url}/results/result" do
              = link_to "#{job_details_download_path}?id=#{@job.job_id}" do
                %i.icon-download{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'Download results'}
  - else
    %h4
      Specified job doesn't exist
  .span12.center
    %a.btn.pull-left{ href: root_path }
      Back
.aside.span3
  = render 'search/help'

:javascript
  $(".icon-ban-circle").click(function(e) {
    if (!confirm("Are you sure you want to cancel this job ?")) {
      e.preventDefault();
      return false;
    }
  });

