!!!
%html{ 'ng-app' => 'SkyMapperApp' }
  %head
    %title 
      SkyMapper
      = " - #{yield :title}"

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body

    #banner.navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.logo{ :href => root_path }
            %img{:src => "/images/asvo_logo.png"}
          %a.brand{:href => root_path } SkyMapper
          .nav-collapse
            %ul.nav
              -#%li= link_to "LINK1"
              -#%li= link_to "LINK2"
              -#%li= link_to "LINK3"
          = render 'layouts/user_menu'
    .container-fluid.main_content
      .flash
        - flash.each do |name, msg|
          - next if name == :timedout
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg
      .js-flash

      %h1= yield :title

      = yield
